body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #333;
}

/* Nueva clase para contener el campo de entrada y botones */
.input-container {
    display: flex;
    align-items: center;
}

input, button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

#tabla {
    width: 80%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4caf50;
    color: white;
}

/* Agregando un estilo de hover a los botones */
button:hover {
    background-color: #45a049;
}

/* Agregando estilos a las columnas */
.columna1 {
    background-color: #ffcccb;
}

.columna2 {
    background-color: #a0e57e;
}

.columna3 {
    background-color: #a0c4e5;
}
