body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #333;
}

/* Nueva clase para contener el campo de entrada y botones */
.input-container {
    display: flex;
    align-items: center;
}

input, button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

#tabla {
    width: 80%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4caf50;
    color: white;
}

/* Agregando un estilo de hover a los botones */
button {
    display: inline-block;
    font-family: monospace;
    background-color: #f3f7fe;
    color: #3b82f6;
    border: none;
    border-radius: 8px;
    width: 160px;
    height: 45px;
    margin: 10px;
    transition: .3s;
    
  }
  
  button:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
  }

/* Agregando estilos a las columnas */
.columna1 {
    background-color: #ffcccb;
}

.columna2 {
    background-color: #a0e57e;
}

.columna3 {
    background-color: #a0c4e5;
}
