/* Reset de estilos */
body, h1, h2, p, ul, li, table {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    margin: 20px;
}

h1 {
    color: #333;
}

button {
    padding: 10px;
    margin: 5px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4caf50;
    color: white;
}

/* Agregando un estilo de hover a los botones */
button:hover {
    background-color: #45a049;
}